/*##############################################
################################################
################################################
#########*******###*******####**********########
########**#####**#**#####**###**######**########
########**#####**#**#####**###**######**########
########**#####**#**#####**###**********########
########**#####**#**#####**###**################
########**#####**#**#####**###**################
########**######***######**###**################
########**###############**###**################
########**###############**###**################
################################################
########Copyright © Maresal Programming#########
################################################
 */

#headFrame{
    background-color:#1a1a1a;
    border-top-left-radius:10px;
    border-top-right-radius:10px;}
    
#pageFrame{background-color:#F0F0F0;}

#menuFrame{background-color:white;color:white;font: 75 10pt "Century Gothic";}

#footerFrame{background-color: #007acc;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;}

#IconLbl{image:url(icons/marelogo.ico)}

#tabWidget{font: 75 10pt "Century Gothic";}

#studentReg{background-color:#F0F0F0;}
#studentUpdate{background-color:#F0F0F0;}
#studentsDisplay{background-color:#F0F0F0;}

#userStatusLbl{color:white;font: 75 10pt "Century Gothic";}
#prgVersionLbl{color:white;font: 75 10pt "Century Gothic";}

#menuBtn{qproperty-icon:url(icons/menu.png);qproperty-iconSize:36px 36px;}
#homeBtn{qproperty-icon:url(icons/Home.png);qproperty-iconSize:24px 24px;}
#notificationBtn{qproperty-icon:url(icons/bell.png);qproperty-iconSize:24px 24px;}
#authorizenLoginBtn{qproperty-icon:url(icons/user.png);qproperty-iconSize:24px 24px;}
#LogoutBtn{qproperty-icon:url(icons/logout.png);qproperty-iconSize:24px 24px;}
#studentsOperationsBtn{qproperty-icon:url(icons/reading.png);qproperty-iconSize:24px 24px;}
#teacherOperationsBtn{qproperty-icon:url(icons/reading.png);qproperty-iconSize:24px 24px;}
#settingBtn{qproperty-icon:url(icons/setting.png);qproperty-iconSize:24px 24px;}
#label_29{background-image: url(icons/aa.png); background-repeat: no-repeat; background-position: center;}
#LoginLogoLbl{image:url(icons/account.png)}

QPushButton{
    background-color:white;
    font: 75 9pt "Century Gothic";
    border:none;
    padding:10px;
    }
QPushButton:hover{
    background-color:#d9d9d9;
    border:none;
    }
QPushButton:pressed{
    background-color:white;
    border:none;
    }

QLabel{color:black;font: 75 10pt "Century Gothic";}

